<%- include ('partials/header'); -%>

<form action="/addgame" method="POST" enctype="multipart/form-data">
    <div class="form-group">
        <label>Name</label>
        <input type="text" class="form-control" name="title">
    </div>

    <div class="form-group">
        <label>Creator</label>
        <input type="text" class="form-control" name="creator">
    </div>

    <div class="form-group">
        <label>Width</label>
        <input type="text" class="form-control" name="width">
    </div>

    <div class="form-group">
        <label>Height</label>
        <input type="text" class="form-control" name="height">
    </div>

    <div class="form-group">
        <label>Game</label>
        <input type="file" class="form-control" name="fileName">
    </div>

    <div class="form-group">
        <label>Thumbnail</label>
        <input type="file" class="form-control" name="thumbnailFile">
    </div>

    <button type="submit" class="btn btn-primary">Add</button>
</form>

<% - include('partials/footer'); -%>